# Partial preprocessing

In [386]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [387]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [388]:
# df = pd.read_csv("drive/MyDrive/gpx-tracks-from-hikr.org.csv")
df = pd.read_csv("drive/MyDrive/country_continent.csv")

In [389]:
df.head()

,Unnamed: 0,_id,length_3d,user,start_time,max_elevation,bounds,uphill,moving_time,end_time,max_speed,gpx,difficulty,min_elevation,url,downhill,name,length_2d,country,continent
0,0,5afb229e8f80884aaad9c6ea,10832.953016,Bergfritz,2018-05-11 07:37:40,1934.47,"{'min': {'type': 'Point', 'coordinates': [13.2...",612.880,12155.0,2018-05-11 11:38:23,1.595493,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T2 - Mountain hike,1322.96,http://www.hikr.org/tour/post131855.html,609.670,"Remsteinkopf, 1945 m",10832.953016,Austria,Europe
1,1,5afb229e8f80884aaad9c6eb,12259.376315,Bergfritz,2018-05-12 07:25:08,2186.21,"{'min': {'type': 'Point', 'coordinates': [13.1...",614.753,13876.0,2018-05-12 12:08:28,1.394320,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T3 - Difficult Mountain hike,1266.40,http://www.hikr.org/tour/post131856.html,1193.733,"Schuhflicker, 2214 m",12259.376315,Austria,Europe
2,2,5afb229e8f80884aaad9c6ec,22980.168081,igor,2018-05-11 06:29:38,2265.00,"{'min': {'type': 'Point', 'coordinates': [8.99...",2255.976,28971.0,2018-05-11 15:32:43,1.503002,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T3 - Difficult Mountain hike,176.54,http://www.hikr.org/tour/post131839.html,2177.626,Cima d'erbea Est quota 2164m e Gaggio 2267m,22980.168081,Switzerland,Europe
3,3,5afb229e8f80884aaad9c6ed,24903.503470,rkroebl,2018-05-10 07:06:22,962.42,"{'min': {'type': 'Point', 'coordinates': [8.43...",882.312,26726.0,2018-05-10 16:15:18,1.516689,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T2 - Mountain hike,388.51,http://www.hikr.org/tour/post131840.html,901.052,Waldstätterweg: Alpnachstad - Buochs,24903.503470,Switzerland,Europe
4,4,5afb229e8f80884aaad9c6ee,19581.273819,rkroebl,2018-05-11 05:44:58,697.57,"{'min': {'type': 'Point', 'coordinates': [8.61...",310.662,18197.0,2018-05-11 12:54:25,1.542405,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T2 - Mountain hike,438.50,http://www.hikr.org/tour/post131845.html,305.372,Waldstätterweg: Buochs - Beckenried und Gersau...,19581.273819,Switzerland,Europe

## Time

In [390]:
df.loc[df['moving_time'] == 0, 'moving_time'] = df['moving_time'].mean()
df['moving_time'] = df['moving_time'] / (3600*24)

In [391]:
df[['length_3d', 'moving_time']].head()

      length_3d  moving_time
0  10832.953016     0.140683
1  12259.376315     0.160602
2  22980.168081     0.335313
3  24903.503470     0.309329
4  19581.273819     0.210613

moving time is in days

In [392]:
df.moving_time

0        0.140683
1        0.160602
2        0.335313
3        0.309329
4        0.210613
           ...
12136    0.049838
12137    0.169676
12138    0.095359
12139    0.212431
12140    0.112095
Name: moving_time, Length: 12141, dtype: float64

## Length/Uphill/2D/3D?

## Hiking environment

In [393]:
alpin = ['T4- - High-level Alpine hike',
 'T4 - High-level Alpine hike',
 'T5- - Challenging High-level Alpine hike',
 'T5+ - Challenging High-level Alpine hike',
 'T4+ - High-level Alpine hike',
 'T5 - Challenging High-level Alpine hike',
 'T6 - Difficult High-level Alpine hike',
 'T6- - Difficult High-level Alpine hike',
 'T6+ - Difficult High-level Alpine hike']

In [394]:
df['Hiking Environment'] = 0

In [395]:
df.loc[df['difficulty'] == 'T1 - Valley hike', 'Hiking Environment'] = 'Valley'
df.loc[df['difficulty'] == 'T2 - Mountain hike', 'Hiking Environment'] = 'Mountain'
df.loc[df['difficulty'] == 'T3 - Difficult Mountain hike', 'Hiking Environment'] = 'Mountain'
df.loc[df['difficulty'] == 'T3+ - Difficult Mountain hike', 'Hiking Environment'] = 'Mountain'
df.loc[df['difficulty'].isin(alpin), 'Hiking Environment'] = 'Alpine'

In [396]:
df

,Unnamed: 0,_id,length_3d,user,start_time,max_elevation,bounds,uphill,moving_time,end_time,...,gpx,difficulty,min_elevation,url,downhill,name,length_2d,country,continent,Hiking Environment
0,0,5afb229e8f80884aaad9c6ea,10832.953016,Bergfritz,2018-05-11 07:37:40,1934.470000,"{'min': {'type': 'Point', 'coordinates': [13.2...",612.880000,0.140683,2018-05-11 11:38:23,...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T2 - Mountain hike,1322.960000,http://www.hikr.org/tour/post131855.html,609.670000,"Remsteinkopf, 1945 m",10832.953016,Austria,Europe,Mountain
1,1,5afb229e8f80884aaad9c6eb,12259.376315,Bergfritz,2018-05-12 07:25:08,2186.210000,"{'min': {'type': 'Point', 'coordinates': [13.1...",614.753000,0.160602,2018-05-12 12:08:28,...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T3 - Difficult Mountain hike,1266.400000,http://www.hikr.org/tour/post131856.html,1193.733000,"Schuhflicker, 2214 m",12259.376315,Austria,Europe,Mountain
2,2,5afb229e8f80884aaad9c6ec,22980.168081,igor,2018-05-11 06:29:38,2265.000000,"{'min': {'type': 'Point', 'coordinates': [8.99...",2255.976000,0.335313,2018-05-11 15:32:43,...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T3 - Difficult Mountain hike,176.540000,http://www.hikr.org/tour/post131839.html,2177.626000,Cima d'erbea Est quota 2164m e Gaggio 2267m,22980.168081,Switzerland,Europe,Mountain
3,3,5afb229e8f80884aaad9c6ed,24903.503470,rkroebl,2018-05-10 07:06:22,962.420000,"{'min': {'type': 'Point', 'coordinates': [8.43...",882.312000,0.309329,2018-05-10 16:15:18,...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T2 - Mountain hike,388.510000,http://www.hikr.org/tour/post131840.html,901.052000,Waldstätterweg: Alpnachstad - Buochs,24903.503470,Switzerland,Europe,Mountain
4,4,5afb229e8f80884aaad9c6ee,19581.273819,rkroebl,2018-05-11 05:44:58,697.570000,"{'min': {'type': 'Point', 'coordinates': [8.61...",310.662000,0.210613,2018-05-11 12:54:25,...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T2 - Mountain hike,438.500000,http://www.hikr.org/tour/post131845.html,305.372000,Waldstätterweg: Buochs - Beckenried und Gersau...,19581.273819,Switzerland,Europe,Mountain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12136,12136,5afb26108f80884aaad9f652,3882.088056,guenter,2013-09-14 10:33:16,1603.135742,"{'min': {'type': 'Point', 'coordinates': [15.5...",672.730664,0.049838,2013-09-14 12:53:09,...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T3 - Difficult Mountain hike,936.461426,http://www.hikr.org/tour/post70727.html,7.498242,Hohes Waxenegg,3882.088056,Austria,Europe,Mountain
12137,12137,5afb26108f80884aaad9f653,13144.015870,Bergfritz,2013-09-14 05:29:24,1664.660000,"{'min': {'type': 'Point', 'coordinates': [15.2...",928.770000,0.169676,2013-09-14 09:57:36,...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T2 - Mountain hike,826.870000,http://www.hikr.org/tour/post70731.html,925.880000,"Mugel 1630 m , Roßeck 1664 m",13144.015870,Austria,Europe,Mountain
12138,12138,5afb26108f80884aaad9f654,8865.050380,mountainrescue,2013-09-15 06:43:39,1658.300000,"{'min': {'type': 'Point', 'coordinates': [15.2...",821.240000,0.095359,2013-09-15 09:21:43,...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T1 - Valley hike,882.600000,http://www.hikr.org/tour/post70744.html,839.040000,Man soll sich nie auf die Meteofuzzis verlasse...,8865.050380,Austria,Europe,Valley
12139,12139,5afb26108f80884aaad9f655,17047.654835,Curi,2013-09-07 08:19:07,646.620000,"{'min': {'type': 'Point', 'coordinates': [11.6...",307.855000,0.212431,2013-09-07 15:11:42,...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T1 - Valley hike,425.040000,http://www.hikr.org/tour/post70500.html,289.595000,"Frankenwald: Der ""Mühlenweg""",17047.654835,Germany,Europe,Valley
12140,12140,5afb26108f80884aaad9f656,7208.130271,gbal,2013-09-13 06:24:13,2903.800000,"{'min': {'type': 'Point', 'coordinates': [9.11...",1276.683000,0.112095,2013-09-13 14:05:42,...,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<gpx x...",T6 - Difficult High-level Alpine hike,1616.590000,http://www.hikr.org/tour/post70681.html,1255.533000,Piz di Strega: due Maghi alla conquista,7208.130271,Switzerland,Europe,Alpine

## Difficulty

In [397]:
df.difficulty.unique()

array(['T2 - Mountain hike', 'T3 - Difficult Mountain hike',
       'T1 - Valley hike', 'T3+ - Difficult Mountain hike',
       'T4- - High-level Alpine hike', 'T4 - High-level Alpine hike',
       'T5- - Challenging High-level Alpine hike',
       'T5+ - Challenging High-level Alpine hike',
       'T4+ - High-level Alpine hike',
       'T6 - Difficult High-level Alpine hike',
       'T5 - Challenging High-level Alpine hike',
       'T6- - Difficult High-level Alpine hike',
       'T6+ - Difficult High-level Alpine hike'], dtype=object)

In [398]:
#1-6
var_to_encode = 'difficulty'
rank_dict = {'T1 - Valley hike': 1, 
             'T2 - Mountain hike': 2, 
             'T3 - Difficult Mountain hike': 3,
             'T3+ - Difficult Mountain hike': 3, 
             'T4- - High-level Alpine hike': 4,
             'T4 - High-level Alpine hike': 4, 
             'T5- - Challenging High-level Alpine hike': 5,
             'T5 - Challenging High-level Alpine hike': 5, 
             'T5+ - Challenging High-level Alpine hike': 5,
             'T6- - Difficult High-level Alpine hike': 6, 
             'T6 - Difficult High-level Alpine hike':6,
             'T6+ - Difficult High-level Alpine hike': 6}
df[var_to_encode] = df[var_to_encode].map(rank_dict)

In [399]:
df.length_3d.sort_values()

1975     0.000000e+00
2421     0.000000e+00
3786     0.000000e+00
1744     0.000000e+00
6714     0.000000e+00
             ...
9535     2.269078e+05
10094    2.852657e+05
388      4.223042e+05
3120     3.189180e+07
7017     3.189180e+07
Name: length_3d, Length: 12141, dtype: float64

In [400]:
df.length_3d = df.length_3d/1000

In [401]:
df[['length_3d', 'moving_time']].head()

   length_3d  moving_time
0  10.832953     0.140683
1  12.259376     0.160602
2  22.980168     0.335313
3  24.903503     0.309329
4  19.581274     0.210613

length_3d is in km


moving_time is in days

In [402]:
df.km_per_day = df.length_3d/df.moving_time

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [403]:
df.km_per_day

0        77.002644
1        76.333966
2        68.533586
3        80.508220
4        92.972581
           ...
12136    77.894196
12137    77.465414
12138    92.965209
12139    80.250484
12140    64.303816
Length: 12141, dtype: float64

### Drop columns

In [404]:
to_drop = ['Unnamed: 0',
           '_id', 
           'user', 
           'start_time', 
           'end_time', 
           'url',
           'bounds', 
           'max_speed',
           'gpx', 
           'name', 
           'length_2d']
df = df.drop(columns=to_drop)

to add to the sheelon:
- uphill
- max_elevation
- min_level
- downhill

### Continent/Country

In [405]:
df = df[df['continent'].notna()]

Feature scaling

In [406]:
df.columns

Index(['length_3d', 'max_elevation', 'uphill', 'moving_time', 'difficulty',
       'min_elevation', 'downhill', 'country', 'continent',
       'Hiking Environment'],
      dtype='object')

In [416]:
df.describe().loc[['mean', 'std']].to_csv('normalization_params.csv')

In [418]:
df_dr = df.drop(columns=['continent', 'country', 'Hiking Environment'])
normalized_df=(df_dr-df_dr.mean())/df_dr.std()
df = pd.concat([normalized_df, df[['continent', 'country', 'Hiking Environment']]], axis=1)

One hot encoding

In [422]:
df.columns

Index(['length_3d', 'max_elevation', 'uphill', 'moving_time', 'difficulty',
       'min_elevation', 'downhill', 'continent', 'country',
       'Hiking Environment'],
      dtype='object')

In [423]:
df = pd.get_dummies(df, columns=['country', 'continent', 'Hiking Environment'])

In [424]:
df.columns

Index(['length_3d', 'max_elevation', 'uphill', 'moving_time', 'difficulty',
       'min_elevation', 'downhill', 'country_Albania', 'country_Andorra',
       'country_Argentina', 'country_Armenia', 'country_Austria',
       'country_Belgium', 'country_Bosnia and Herzegovina', 'country_Bulgaria',
       'country_Canada', 'country_Chile', 'country_China',
       'country_Costa Rica', 'country_Croatia', 'country_Czechia',
       'country_Ecuador', 'country_Falkland Islands', 'country_Faroe Islands',
       'country_France', 'country_Georgia', 'country_Germany',
       'country_Greece', 'country_Greenland', 'country_Hungary',
       'country_Iceland', 'country_India', 'country_Iran', 'country_Ireland',
       'country_Israel', 'country_Italy', 'country_Japan',
       'country_Liechtenstein', 'country_Malta', 'country_Montenegro',
       'country_Morocco', 'country_Namibia', 'country_Nepal',
       'country_Netherlands', 'country_New Zealand', 'country_North Macedonia',
       'country_Norway', 'country_Peru', 'country_Poland', 'country_Portugal',
       'country_Romania', 'country_Russia', 'country_San Marino',
       'country_Serbia', 'country_Slovakia', 'country_Slovenia',
       'country_Spain', 'country_Sweden', 'country_Switzerland',
       'country_Tajikistan', 'country_Tanzania', 'country_Thailand',
       'country_Turkey', 'country_Turkmenistan', 'country_United Kingdom',
       'country_United States', 'continent_Africa', 'continent_Asia',
       'continent_Europe', 'continent_North America', 'continent_Oceania',
       'continent_South America', 'Hiking Environment_Alpine',
       'Hiking Environment_Mountain', 'Hiking Environment_Valley'],
      dtype='object')

End of preprocessing